.btn {
  font-family: 'IM Fell DW Pica SC', serif;
}

body {
  font-family:'Lobster',Times New Roman;
  font-family:"Lobster"
   background-image: ;
  background-repeat: no-repeat;
    background-size: 100%;
 
}

p,a {
  font-size:22px;
}

#text {
  font-size:22px;
}

